
@media screen and (max-width: 630px) and (min-width: 270px) {
	p {
		font-size: 1.8vw;
		line-height: 2.5vw;
	}

	.top_nav_logo {
		padding-top: 0;
		h3 { font-size: 2vw; }
		img {
			max-width: 6%;
			min-width: 6%;
		}
	}

	.top_nav {
		position: fixed;
		visibility: hidden;
		margin-top: 0;
		left: 0;
		right: 0;
		ul {
			flex-direction: column;
			margin-top: 30%;
			padding: 0;
			li {
				padding-top: 5%;
				a {font-size: 4vw;}
			}
		}
	}

	.menu_btn{display: flex;}

	.whatcan_header {p { width: 60%; }}

	.whatcan_rows {padding: 0 0.2vw}
	.out_team_rows {
		padding: 0 0% 0 0%;
		img {
			max-width: 60%;
			min-width: 60%;
		}
		h2 {
			font-size: 2vw;
		}
	}
	.social {
		img {
			max-width: 40%;
			min-width: 40%;
		}
	}
	.menu_btn {
		top: 5vw;

		span::before {top: -0.9vw;}
		span::after {top: 0.9vw;}
	}
}
@media screen and (max-width: 360px) and (min-width: 280px)  {
	p {
		font-size: 2.2vw;
		line-height: 3vw;
	}
	.container {padding: 1% 2%;}
	.top_nav_baner_header p {padding-bottom: 4%;}
	.whatcan_header {
		p {
			width: 70%;
			margin-top: 0%;
		}
	}
	.whatcan_rows {
		padding: 0 0; 
		h3 {
			font-size: 2.2vw;
			margin-bottom: 0;
		} 
		p {font-size: 2vw}
	}
	.our_process_header {
		p {
			width: 60%;
			font-size: 2vw;
		}
	}
	.content_rows {width: 90%;}
	.out_team_rows {
		padding: 0 0% 0 0%;
		h2 {
			font-size: 1.7vw;
		}
	}
	.slider_text {p {font-size: 2vw;}}
	.anchor {padding-top: 1%;}
}
@media screen and (max-width: 540px) and (min-width: 270px)  {
	.container {padding: 1% 10%;}
	.top_nav_baner_header {margin-bottom: -7%;}
	.top_nav_baner {
		.anchor {
			padding-top: 25%;
		}
	}
	p {font-size: 2vw;}

	.menu_btn > span::before {
		top: -0.9vw;
	}
	.menu_btn > span::after {
		top: 0.9vw;
	}
	.top_nav_baner_header {margin-bottom: -3%;}
	.whatcan_header {p { width: 70%; }}

	.whatcan_rows {
		h3 {font-size: 1.8vw;}
		p { font-size: 1.9vw; }
	}

	.content_rows {width: 100%;}

	.our_process_header { 
		p {
			font-size: 2vw;
			width: 68%;
		}
	}
	.slider_text {p {font-size: 1.8vw;}}
}

@media screen and (max-width: 630px) and (min-width: 530px)  {
	.container {padding: 1% 10%;}

	.menu_btn { top: 4.5vw;}

	.top_nav_baner_header {margin-bottom: -1%;}
	.top_nav_baner .anchor {padding: 27% 0 0% 0;}
	.expand_container { .anchor {padding: 34% 0 0% 0;}}

	.our_process_header { 
		p {
			font-size: 2vw;
			width: 68%;
		}
	}

	.content_rows { 
		width: 100%;

		p {
			font-size: 1.66vw;
			line-height: 2.5vw;
		}
	}

	.whatcan_rows {
		h3 {font-size: 1.8vw;}
		p { font-size: 1.5vw; }
	}

	.out_team_container { .anchor {margin-bottom: -2%;} }

	.slider_text {p {font-size: 1.5vw;}}
}
@media screen and (max-width: 768px) and (min-width: 625px) { 
	.container {padding: 1.5% 10%;}

	.top_nav_baner_header {margin-bottom: 0%;}

	.top_nav_baner { .anchor {padding: 26% 0 0% 0;} }

	.menu_btn{top: 4.2vw;}
	.whatcan_rows {
		padding: 0 0;
		p {
			font-size: 1.5vw;
		}
	}
	.content_rows { 
		width: 100%;
		p {
			font-size: 1.7vw;
		}
	}

	.expand_container { .anchor {padding: 33% 0 0% 0;}}

	.out_team_container { .anchor {margin-bottom: -2%;} }
	.out_team_rows {
		padding: 0 6% 0 6%;
		h2 {font-size: 1.5vw;}}

		.slider_text {p {font-size: 1.5vw;}}
	}
@media screen and (max-width: 1024px) and (min-width: 768px) {}
@media screen and (max-width: 1280px) and (min-width: 1024px) {.whatcan_rows {padding: 0 2.5%}}